{% extends 'base.html' %}

{% block content %}
<section class="py-5 auth-section">
    <div class="container">
        <div class="col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow-lg p-4 rounded-4">
                <h2 class="fw-bold mb-3">Write a Review for {{ restaurant.name }}</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Rating</label>
                        <input type="number" name="rating" min="1" max="5" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Comment</label>
                        <textarea name="comment" rows="4" class="form-control" required></textarea>
                    </div>
                    <button class="btn btn-dark w-100">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
