{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{ restaurant.name }}</h1>

<img src="{{ restaurant.image.url }}" width="400">

<p>{{ restaurant.description }}</p>


<a class="btn btn-danger" href="/favorite/{{ restaurant.id }}/">
Add to favorites
</a>

<a href="/booking/{{ restaurant.id }}/" class="btn btn-primary">
Reserve table
</a>

<a href="/review/{{ restaurant.id }}/" class="btn btn-success">
Leave review
</a>


<h3>Average rating</h3>

{% if avg_rating %}
{{ avg_rating|floatformat:1 }} / 5
{% else %}
No rating yet
{% endif %}


<hr>


<h2>Menu</h2>

{% for dish in dishes %}

<div style="margin-bottom:20px;">

<h3>{{ dish.name }} - {{ dish.price }} ₸</h3>

<img src="{{ dish.image.url }}" width="200">

</div>

{% endfor %}


<hr>


<h2>Reviews</h2>

{% for review in reviews %}

<div style="border:1px solid #ccc; padding:10px; margin:10px;">

<b>{{ review.user.username }}</b>

<p>Rating: {{ review.rating }}/5</p>

<p>{{ review.comment }}</p>

</div>

{% empty %}

<p>No reviews yet.</p>

{% endfor %}


<hr>


<h3>Add Review</h3>

<form method="post" action="/review/{{ restaurant.id }}/">

{% csrf_token %}

<label>Rating</label>
<input type="number" name="rating" min="1" max="5">

<br><br>

<label>Comment</label>
<textarea name="comment"></textarea>

<br><br>

<button type="submit" class="btn btn-success">
Submit
</button>

</form>

{% endblock %}